[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "XLS"]
	path = XLS
	url = https://github.com/sametsoekel/extreme-least-squares
